@tailwind base;
@tailwind components;
@tailwind utilities;

/* Light Mode */
html.light {
  --bg-color: white;
  --text-color: black;
}

html.dark {
  --bg-color: #121212;
  --text-color: white;
}

body {
  background-color: var(--bg-color);
  color: var(--text-color);
}

body {
  font-family: "Roboto", sans-serif;
}

/* For headings */
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Open Sans", sans-serif;
}
